<link rel="stylesheet" href="login.component.css">
<link rel="stylesheet" href="../../styles.css">



<div class="telaLogin">

  <div class="image">
    <img class="IlustracaoTelaLogin" src="img/ranger.png" alt="Ranger Ford">
  </div>

  <div class="form_container">
    <div class="backdrop">
      <form class="form_login">
          <img src="img/ford.png" alt="Logo Ford" class="logo-ford">

          <p class="boasVindas">Boas vindas</p>

          <div class="login-container">
            <label>Email:</label>
            <input type="text" placeholder="Insira seu email" class="inputIn">

            <label>Senha:</label>
            <input type="text" placeholder="Insira sua senha" class="inputIn">

            <input type="checkbox" class="checkbox">
            <label>Login automático</label>

            <button class="buttonEnviar">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
