<div class="dashboard">
  <div class="dashboard-card">
    <div class="card">
      <span></span>
    </div>
    <div class="card">
      <span></span>
    </div>
    <div class="card">
      <span></span>
    </div>
    <div class="card">
      <span></span>
    </div>
  </div>

  <div class="dashboard-image">
    <img src="/img/territory.png" alt="">
  </div>

  <table class="table" style="width: 60%;">
    <thead>
      <tr>
        <th scope="col">Código - Vin <input class="input-vin" type="text" placeholder="Ex.: 2FRHDUYS2Y63NHD22454"></th>
        <th scope="col">Odômetro</th>
        <th scope="col">Nível de Combustível</th>
        <th scope="col">Status</th>
        <th scope="col">Lat.</th>
        <th scope="col">Long.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
        <td>mdo</td>
        <td>mdo</td>
      </tr>
    </tbody>
  </table>

